<p>Hit enter to search</p>

<div id="search">
    <p><input ng-model="query" placeholder="search" ng-keyup="$event.keyCode == 13 && executeSearch()"></p>
    
    <p><a href>Show only Javascript</a></p>
    <p><a href>Show only Ruby</a></p>
    <p><a href>Show only C#</a></p>

    

    <div class="repo" ng-repeat="repo in repos ">

        <!-- {{ repo }} -->

        <strong><a href="{{repo.url}}">{{ repo.full_name }}</a></strong>
        <ul>
            <li>Author: {{ repo.owner.login }}</li>
            <li>Description: {{ repo.description }}</li>
            <li>Watchers: {{ repo.watchers }}</li>
            <li>Language: {{ repo.language }}</li>
        </ul>

    </div>
</div>