<p>This is a giant list of the first repos ever created, I believe. It is pulled from <a href="https://developer.github.com/v3/repos/#list-all-public-repositories">https://developer.github.com/v3/repos/#list-all-public-repositories</a>.</p>

<p>You can sort through them using this filter box below.  The sort works on any field displayed.</p>

<p>Clicking on the author's name brings you to another page inside the SPA, with information pulled from the API about the author.</p>

<p>
    <input 
        ng-model="query" 
        placeholder="Filter"
        >
</p>

<table>
    <tr ng-repeat="repo in data | filter: query">
        <td>{{repo.id}}</td>
        <td>{{repo.name}}</td>
        <td><a href="/#/user/{{repo.owner.login}}">{{repo.owner.login}}</a></td>
        <td>{{repo.description}}</td>
    </tr>
</table>