<p>Type in a topic or repo you'd like to search for, then hit enter.</p>

<div id="search">
    <p><input ng-model="query" placeholder="search" ng-keyup="$event.keyCode == 13 && executeSearch()"></p>

    <div class="repo" ng-repeat="repo in repos ">

        <!-- {{ repo }} -->

        <strong><a href="{{repo.url}}">{{ repo.full_name }}</a></strong>
        <ul>
            <li>Author: <a href="/#/user/{{repo.owner.login}}">{{ repo.owner.login }}</a></li>
            <li>Description: {{ repo.description }}</li>
            <li>Watchers: {{ repo.watchers }}</li>
            <li>Language: {{ repo.language }}</li>
        </ul>

    </div>
</div>