<p>This searches automatically, after a half second delay.</p>

<p>
    <input 
        id="searchText" 
        ng-model="searchText" 
        ng-model-options="{debounce: 500}" 
        placeholder="search" 
        >
</p>

<div id="search">
    
    <div class="repo" ng-repeat="repo in repos | filter: filterText ">

        <!-- {{ repo }} -->

        <strong>{{ repo.full_name }} - <a href="{{repo.url}}">View the repo on Github</a></strong>
        <ul>
            <li>Author: <a href="/#/user/{{repo.owner.login}}">{{ repo.owner.login }}</a></li>
            <li>Description: {{ repo.description }}</li>
            <li>Watchers: {{ repo.watchers }}</li>
            <li>Language: {{ repo.language }}</li>
        </ul>

    </div>
</div>