<p>Queries <a href="https://developer.github.com/v3/users/#get-a-single-user">https://developer.github.com/v3/users/#get-a-single-user</a> for info about an individual user.</p>

<p>Try your id, or jackeller, or paulirish</p>

<div id="search" ng-if="data.name != null">

    <!-- {{ data }} -->

    <h1>User Info</h1>

    <strong><a href="{{ data.html_url }}">{{ data.html_url }}</a></strong>
    <ul>
        <li>Name: {{ data.name }}</li>
        <li>Blog: {{ data.blog }}</li>
        <li>Location: {{ data.location }}</li>
        <li>Email: {{ data.email }}</li>
        <li>Bio: {{ data.bio }}</li>
        <li>Public Repos: {{ data.public_repos }}</li>
        <li>Public Gists: {{ data.public_gists }}</li>
        <li>Followers: {{ data.followers }}</li>
        <li>Following: {{ data.following }}</li>
    </ul>

</div>

<p ng-if="data.name != null">Search for another user</p>

<p ng-if="data.name == null">Search for a user</p>

<p><input ng-model="query" placeholder="" ng-keyup="$event.keyCode == 13 && changeURL('user', query)"></p>